body {
  font-family: sans-serif;
  font-size: 1.2em;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}

.item {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.item img {
  height: 300px;
  width: 250px;
}

.item h4, .item p {
  margin: 0
}

.d-none {
  display: none;
}
