body {
  font-family: sans-serif;
  font-size: 1.2em;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}


.list {
  display: flex;
}

.item {
  max-width: 300px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
}
